* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    overflow-y: hidden;
}

body {
    background-color: black;
}

header {
    padding: 10px 2%;
    background-color: #333;
    text-align: center;
}

nav.menu-desktop ul {
    display: inline-block;
}

nav.menu-desktop li {
    display: inline-block;
    color: white;
    margin: 0 30px;
    font-size: 14px;
}

nav.menu-desktop a {
    margin: 0 5px;
    text-decoration: none;
    color: white;
}

nav.menu-desktop>a {
    font-size: 18px;
}

.fas.fa-search {
    margin-right: 20px;
}

section.demo {
    text-align: center;
    padding: 30px 0;
    color: white;
}

section.demo img {
    display: inline-block;
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
}

section.demo h1 {
    margin: 20px 0;
    font-size: 32px;
}

.links-compra a {
    color: #06c;
    font-size: 19px;
    margin: 0 15px;
}

.menu-mobile {
    display: none;
}

.btn-close {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: flex;
        justify-content: space-between;
    }

    .btn-menu {
        cursor: pointer;
        color: white;
    }

    .menu-mobile a {
        color: white;
    }

    .items-mobile {
        height: 0;
        overflow: hidden;
        transition: 1s;
        position: absolute;
        left: 0;
        top: 40px;
        background-color: black;
        width: 100%;
        text-align: left;
        padding: 20px;
    }

    .items-mobile li {
        padding: 20px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .items-mobile a {
        text-decoration: none;
    }
}
